{% extends 'bootstrap3/bootstrap3.html' %}
{% load staticfiles %}

{% block bootstrap3_title %}{% block title %}PANIC/PyAlarm monitoring{% endblock %}{% endblock %}

{% block bootstrap3_extra_head %}

<link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
<link rel="stylesheet" href="{% static 'css/panic.css' %}">

{% block extra_head %}{% endblock %}
{% endblock %}

{% block bootstrap3_content %}
<div class="container">
    <h1>PANIC/PyAlarm monitoring</h1>
</div>
{% block content %}{% endblock %}{% endblock %}

